<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body  style="background: rgb(232,230,255);background: linear-gradient(90deg, rgba(232,230,255,1) 0%, rgba(239,239,255,1) 11%, rgba(163,240,255,1) 100%);">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>

   <nav class="navbar navbar-expand-lg navbar-light" style="background: rgb(232,230,255);background: linear-gradient(90deg, rgba(232,230,255,1) 0%, rgba(239,239,255,1) 11%, rgba(163,240,255,1) 100%);">
        <div class="logo-div">
             <img src="/img/logo.png" alt="" srcset="" class="logo">
        </div>
   </nav>


        
            <div class="list-padding">
                <div class="list">

                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <button type="button" name="createuser" onclick="insertPage()" class="btn btn-success btncrud">Criar Usuario</button>
                        </li>
                        <li class="nav-item">
                            <button type="button" onclick="selectPage()" class="btn btn-warning btncrud">Informação de Cadastro</button>
                        </li>
                        <li class="nav-item">
                            <button type="button" onclick="updatePage()" class="btn btn-info btncrud">Atualizar</button>
                        </li>
                        <li class="nav-item">
                            <button type="button" onclick="deletePage()" class="btn btn-danger btncrud">Excluir</button>
                        </li>
                    </ul>
                </div>  
            </div>
        
</body>
</html>