<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body  style="background: rgb(232,230,255);
background: linear-gradient(90deg, rgba(232,230,255,1) 0%, rgba(239,239,255,1) 11%, rgba(163,240,255,1) 100%);">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>

   <nav class="navbar navbar-expand-lg navbar-light" style="background: rgb(232,230,255);
        background: linear-gradient(90deg, rgba(232,230,255,1) 0%, rgba(239,239,255,1) 11%, rgba(163,240,255,1) 100%);">
        <div class="logo-div">
        <img src="/img/logo.png" alt="" srcset="" class="logo">
        </div>
   </nav>


    <form name="form1" action="controllerForm" method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Nome</label>
            <input type="text" required name=name class="form-control" name="name" id="name" aria-describedby="emailHelp">
            
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" required name=email class="form-control" name="email" id="email" >
        </div>

        <div class="mb-3">
            <label for="idade" class="form-label">Idade</label>
            <input type="text" required name=idade name="idade" class="form-control" id="idade">
        </div>
        
        <button type="submit" class="btn btn-primary" name="modal" id="myModal" data-bs-toggle="modal" data-bs-target="#exampleModal">Cadastrar</button>


        <div class="modal" name='modal' tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
            </div>
        </div>
        </div>
        
    </form>

    <!--Modal-->
            

            

        
            
        
</body>
</html>